@model AgriculturalEventQueryModel

@if (Model == null)
{
    <h1>За сега няма събития</h1>
}
<form method="get">

    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Име на събитието...">
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Place"></label>
            <input asp-for="Place" class="form-control" placeholder="Място на провеждане">
        </div>
        <div class="form-group col-md-3">
            <label asp-for="StartAfter"></label>
            <input asp-for="StartAfter" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label asp-for="EndBefore"></label>
            <input asp-for="EndBefore" class="form-control">
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="form-group">
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0" selected>Име</option>
                <option value="1">Дата на начало</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i>
    </button>
</form>

<partial name="_AllEventsPartial" model="@Model.Events" />
<nav aria-label="...">
    <ul class="pagination pagination-sm">
        @for (int i = 1; i <= Math.Ceiling((double)Model.TotalEventsCount / EventsPerPage);  i++)
        {
            <li class="page-item"><a class="page-link" 
                                     asp-controller="AgriculturalEvents" 
                                     asp-action="AllEvents" 
                                     asp-route-startAfter="@Model.StartAfter" 
                                     asp-route-endBefore="@Model.EndBefore"
                                     asp-route-place="@Model.Place"
                                     asp-route-searchTerm="@Model.SearchTerm"
                                     asp-route-currentPage = "@i"
                                     asp-route-sorting="@Model.Sorting">@i</a></li>
        }
        
    </ul>
</nav>
