@{
        ViewData["Title"] = "Home Page";
    }
    @model List<ProductsAndServicesListingModel>
    <div class="text-center">
        <h1 class="display-4">Разгледайте някой от последните предложения на нашите потребители.</h1>
        <div class="row" col-md-6>
            @foreach (var entity in Model)
            {
                <div class="card m-3" style="width: 18rem;">
                    <img class="card-img-top" src="@entity.ImageUrl" alt="@entity.Name">
                    <div class="card-body">
                        <h5 class="card-title">@entity.Name</h5>
                        @if (entity.IsProduct)
                        {
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@entity.Id" asp-route-isProduct="@entity.IsProduct" class="btn btn-primary">Повече информация!</a>
                        }
                        else
                        {
                            <a asp-controller="Services" asp-action="Details" asp-route-id="@entity.Id" asp-route-isProduct="@entity.IsProduct" class="btn btn-primary">Повече информация!</a>
                        }
                    </div>
                </div>
            }

        </div>
        @section SideBar
        {
                <p>@DateTime.Now</p>
        }
    </div>

