@model ProductViewModel
<div class="container bootdey">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="pro-img-details">
                        <img src="@Model.ImageUrl" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="pro-d-title">
                        <a href="#" class="">
                            @Model.Name
                        </a>
                    </h4>
                    <p>
                        @Model.Description
                    </p>
                    <div class="product_meta">
                        <span class="posted_in"> <strong>Категория:</strong> <a rel="tag" href="#">@Model.Category</a></span>
                        <span class="posted_in"> <strong>Телефон за връзка с продавача:</strong> <a rel="tag" href="#">@Model.UserPhoneNumber</a></span>
                        <span class="posted_in"> <strong>Име на продавача:</strong> <a rel="tag" href="#">@Model.UserUsername</a></span>
                        
                    </div>
                    <div class="m-bot15"> <strong>Price : </strong> <span class="amount-old">@Math.Round(Model.Price, 2)</span></div>
                    <p>
                        <a asp-controller="Home" asp-action="All" class="btn btn-primary"> Обратно в списъка</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>